# filesystem stuff
.DS_Store
.env

# node stuff
node_modules/
npm-debug.log

# generated stuff
/public
_generated
*.css.map
*.js.map

# database things
/media
/chunks
comments.db
# generated exports
/json
/exports

# backup doodads
*.bak.*
*.bak
.bak
