<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <title>{{ meta.title }}{{#if meta.isHome }}{{else}} — {{settings.WEBSITE_TITLE}}{{/if}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="shortcut icon" href="/assets/images/favicon.png">
</head>

<body>
  {{> @partial-block }}
</body>
</html>
