html {
  @include scrollbars;
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 18px;
  color: var(--color);
  background-color: var(--background-color);

  &.a11y_use_zoom {
    font-size: 22px;

    @media (min-width: $mq-large) {
      font-size: 24px;
    }
  }

  @media print {
    background-color: transparent;
  }
}

body {
  margin: 0 1rem;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @media (min-width: $mq-medium) {
    margin: 0 3rem;
  }
}

::-moz-selection {
  color: var(--color-bg);
  background: var(--color-subdued);
}
::selection {
  color: var(--color-bg);
  background: var(--color-subdued);
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  outline: none;
  user-select: none;

  @include hover-focus {
    color: var(--color-hover);
    background-color: var(--background-color-hover);
    text-decoration: none;
  }
}

a[href^="http"]::after {
  content: ' ✧';
  font-style: normal;
  font-weight: normal;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  user-select: none;
}

hr {
  height: 2px;
  margin: 2.5em 0;
  background-color: var(--color);
  border: none;
}

select {
  padding: var(--padding);
  font-size: var(--font-size-sm);
  line-height: 1.2;
  font-family: var(--font);
  font-style: normal;
  color: var(--color-secondary);
  border: 2px solid currentColor;
  background-color: var(--background-color);
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: var(--color-hover);
    background-color: var(--background-color-hover);
    border-color: var(--color-secondary);
  }
}

// FOCUS!
a,
button,
select {
  &:focus-visible {
    outline: 2px dotted var(--color-secondary);
    outline-offset: 2px;
  }

  // &:active {
  //   outline: 2px dotted var(--color-active);
  // }
}

// FIXME
.icon {
  display: inline;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  line-height: 1.4;
}
