<header>
    <div class="dropdown">
        <button type="button">
            <img src="" alt="fred">
        </button>
        <span class="label">
            {{settings.WEBSITE_TITLE}}
        </span>
        <span class="shortcut">
            k
        </span>

        <ul class="options">
            <li class="option">
                <button type="button">
                    <span class="label">
                        latest issue
                    </span>
                    <span class="shortcut">
                        1
                    </span>
                </button>
            </li>
            <li class="option">
                <button type="button">
                    <span class="label">
                        previous issues
                    </span>
                    <span class="shortcut">
                        2
                    </span>
                </button>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <span class="shortcut">
            l
        </span>
        <span class="label">
            anonymous visitor
        </span>
        <button type="button">
            <img src="" alt="keyhole">
        </button>
    </div>
</header>