<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />

<title>{{ meta.title }}{{#if meta.isHome }}{{else}} — {{settings.WEBSITE_TITLE}}{{/if}}</title>

<meta name="description" content="{{ meta.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><circle fill=%22%23a46bea%22 cx=%2250%22 cy=%2250%22 r=%2250%22/></svg>">
<link rel="stylesheet" href="/kuuma.css">
